img{
  width:100%;
}

.card{
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  width: 300px;
}

input{
  display: block;
}

#yourname{
  color: #FFF;
  background: #424F46;
}

#yourname h3{
  font-family: 'Kalam', cursive;
}

#yourname img{
  border-radius: 5px;
  box-shadow: 1px 1px 5px #333;
}

#yourname a:visited{
  color:#D1B271;
}

